html {
    /* タッチ操作の挙動を制御 */
    /* manipulation: ピンチズームを無効化し、タップのダブルタップズームを防止 */
    touch-action: manipulation;
    background-color: black;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
}

.base-pane {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents-container {
    /*スライドの幅を指定*/
    width: 60%;
    height: 60%;
    text-align: center;
    cursor: default; /* カーソルを標準状態に固定 */
    margin: 0;
}

.fullscreen-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

video, img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-title {
    position: absolute;
    width: 100%;
    top: 50%;
    color: #fff;
    font-size: 24px;
    z-index: 1000;
    text-align: center;
    transform: translateY(-50%);
}



.slides-video::-webkit-media-controls-play-button,
.slides-video::-webkit-media-controls-timeline,
.slides-video::-webkit-media-controls-current-time-display,
.slides-video::-webkit-media-controls-time-remaining-display { 
    display: initial;
}

.slides-video::-webkit-media-controls-fullscreen-button,
.slides-video::-webkit-media-controls-mute-button,
.slides-video::-webkit-media-controls-toggle-closed-captions-button,
.slides-video::-webkit-media-controls-volume-slider { 
    display: none;
}



